.column {
  float: left;
  width: 50%;
}

p {
  color: white;
  margin: 5px;
  font-size: 10px;
  line-height: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

mat-card {
  margin-top: 2%;
  background-color: #88b999;
  color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}


i.material-icons {
  font-size: 4rem;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons {
  background-color: #88b999;
}

@media (min-width: 601px) {
  i.material-icons {
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
  }
}

@media (min-width: 993px) {
  i.material-icons {
    padding: 20px;
    margin: 10px;
    font-size: 4rem;
  }
}

div {
  width: 100%;
  text-align: center;
  color: darkgreen;
}

app-bottom-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.dernier{
  margin-bottom: 75px;
}
