<div><i class="material-icons">pets</i></div><div>Animaux</div>
<mat-card *ngFor="let animal of this.listeAnimaux" [ngClass]="animal.id === this.listeAnimaux[this.listeAnimaux.length-1].id? 'dernier':''">
  <div class="row">
    <div class="column" style="text-align: left; font-size: 12px; line-height: 5px">
      <p><strong>ID:</strong> {{animal.id}}</p>
      <p><strong>Nom:</strong> {{animal.nom}}</p>
      <p><strong>Age:</strong> {{animal.age}}</p>
      <p><strong>Sexe:</strong> {{animal.sexe}}</p>
      <p><strong>Condition médicale:</strong> {{animal.medical}}</p>
    </div>
    <div class="column">
      <img src="{{animal.photo}}" alt="{{animal.id}}"/>
    </div>
  </div>
</mat-card>
<app-bottom-bar></app-bottom-bar>
