::ng-deep .mat-progress-bar-fill::after {
  background-color: darkgreen;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.mat-pseudo-checkbox-checked {
  background: #00F !important;
}

i.material-icons {
  font-size: 4rem;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons{
  background-color: #88b999;
}

@media (min-width:601px) {
  i.material-icons {
    padding:10px;
    margin:5px;
    font-size:2rem;
  }
}

@media (min-width:993px) {
  i.material-icons {
    padding:20px;
    margin:10px;
    font-size:4rem;
  }
}

div{
  color: darkgreen;
}

app-bottom-bar{
  position: fixed;
  bottom: 0;
  right: 0;
  width:100%;
}
