<div style="text-align:center; width: 100%">
  <button mat-button><i class="material-icons">check</i></button>
  <div>Tâches</div>
  <mat-selection-list #taches>
    <mat-list-option *ngFor="let tache of this.listeTaches">
      {{tache.heure}} | {{tache.nom}}
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
  <p>Progression de la journée</p>
  <mat-progress-bar mode="determinate"
                    value="{{(taches.selectedOptions.selected.length/this.listeTaches.length)*100}}" style="margin-bottom: 75px;"></mat-progress-bar>
  <app-bottom-bar></app-bottom-bar>
