<div class="column"><div><i class="material-icons">local_florist</i></div><div>Plantes</div></div>
<table mat-table [dataSource]="this.listePlantes" class="mat-elevation-z8" style="margin-bottom: 75px">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="humidite">
    <th mat-header-cell *matHeaderCellDef> Humidité </th>
    <td mat-cell *matCellDef="let element"> {{element.humidite}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="heure">
    <th mat-header-cell *matHeaderCellDef> Heure </th>
    <td mat-cell *matCellDef="let element"> {{element.heure}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="forme">
    <th mat-header-cell *matHeaderCellDef> Forme </th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="font-size: 1rem; margin-left: 20px;">{{element.forme}}</i></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-bottom-bar></app-bottom-bar>
