<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="shoes" title="Menu" style="padding:0; min-width: 0;"><span class="material-icons">
      menu
    </span></button>
  <mat-menu #shoes="matMenu">
    <button mat-menu-item (click)="changerDePage('taches')">Tâches</button>
    <button mat-menu-item (click)="changerDePage('plantes')">Plantes</button>
    <button mat-menu-item (click)="changerDePage('agenda')">Agenda</button>
    <button mat-menu-item (click)="changerDePage('capteurs')">Capteurs</button>
    <button mat-menu-item (click)="changerDePage('animaux')">Animaux</button>
    <button mat-menu-item (click)="changerDePage('map')">Map</button>
  </mat-menu>
  SmartFarm
  <span class="example-spacer"></span>
  <button mat-button title="Paramètres" style="padding:0; min-width: 0;"><span class="material-icons">
      settings_applications
    </span></button>
</mat-toolbar>
