<html>
<body>
<div class="container">
  <div class="row">
      <div class="col" (click)="this.changerDePage('taches')"><button mat-button><i class="material-icons">check</i></button><div>Tâches</div></div>
      <div class="col" (click)="this.changerDePage('agenda')"><div><i class="material-icons">developer_board</i></div><div>Agenda</div></div>
      <div class="col" (click)="this.changerDePage('animaux')"><div><i class="material-icons">pets</i></div><div>Animaux</div></div>
  </div>
  <div class="row">
    <div class="col" (click)="this.changerDePage('plantes')"><div><i class="material-icons">local_florist</i></div><div>Plantes</div></div>
    <div class="col" (click)="this.changerDePage('capteurs')"><div><i class="material-icons">compass_calibration</i></div><div>Capteurs</div></div>
    <div class="col" (click)="this.changerDePage('map')"><div><i class="material-icons">map</i></div><div>Map</div></div>
  </div>
</div>
</body>
</html>
