<br>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Avant
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Après
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle') :'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Mois
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Semaine
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Jour
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>
<br />

<div class="row text-center">
  <div class="col-md-4">
    <div class="clearfix"></div>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary " (click)="handleEvent('Edited', addEvent())">
      Nouvelle Évenement
    </button>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-4">
    <div class="clearfix"></div>
  </div>
</div>


<ng-template #modalContentEdited let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData?.event.title }}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
      <div class="col-md-3">
        <label>Titre: <input type="text" class="form-control" [(ngModel)]="modalData?.event.title"
            (keyup)="refresh.next()" /></label>
      </div>
      <div class="col-md-2">
        <label>Couleur: <input type="color" class="form-control" [(ngModel)]="modalData?.event.color.primary"
            (keyup)="refresh.next()" /></label>
      </div>
      <div class="col-md-3">
        <label>Début: <input type="text" class="form-control" mwlFlatpickr [(ngModel)]="modalData?.event.start"
            (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" /></label>
      </div>
      <div class="col-md-3">
        <label>Fin: <input type="text" class="form-control" mwlFlatpickr [(ngModel)]="modalData?.event.end"
            (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" /></label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="deleteEvent(modalData?.event);close()"> Éffacer </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<ng-template #modalContentDeleted let-close="close">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">Événement Effacer</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
<br>
<app-bottom-bar></app-bottom-bar>
