<div><i class="material-icons titre">compass_calibration</i></div><div>Capteurs</div>

<mat-form-field>
  <mat-label>Choisir la plante</mat-label>
  <mat-select>
    <mat-option *ngFor="let plante of this.listePlantes" [value]="plante">
      {{plante}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-card *ngFor="let capteur of this.listeCapteurs" [ngClass]="capteur.id === this.listeCapteurs[this.listeCapteurs.length-1].id? 'dernier':''">
  <div class="row">
    <div class="column" style="text-align: left; font-size: 12px; line-height: 5px">
      {{capteur.nom}}
      <p><strong>ID:</strong> {{capteur.id}}</p>
      <p><strong>message:</strong> {{capteur.msg}}</p>
    </div>
    <div class="column">
      <i class="material-icons" style="color: white">{{capteur.img}}</i>
      <p>{{capteur.actif? 'Actif': 'Non-actif'}}</p>
    </div>
  </div>
</mat-card>
<app-bottom-bar></app-bottom-bar>
